.button {
  border: none;
  width: 0.8rem;
  height: 0.8rem;
  background-color: hsl(var(--fc1));
  border-radius: 50%;
  margin: 1em;
  position: relative;
  cursor: pointer;
}

.button:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.3rem;
  background-color: hsl(var(--fc1));
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transition: all 0.3s ease;
  cursor: pointer;
}

.button:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.3rem;
  background-color: hsl(var(--fc1));
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transition: all 0.3s ease;
  cursor: pointer;
}

.button:hover:after,
.button:hover:before {
  width: 300%;
}
