* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sansita", sans-serif;
}

:root {
  --bgc1: 0, 4%, 5%;
  --fc1: 0, 0%, 100%;
}

html {
  height: 100%;
  height: -webkit-fill-available;
}

body {
  height: 100%;
  height: -webkit-fill-available;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  flex: 1;
  overflow-y: auto;
}

li,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}
